/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/inter-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/inter-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/inter-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/inter-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/inter-v8-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

:root {
    /* Font sizes */
    --mainFontSize: 1.2em;
    --tabFontSize: 14px;
    
    /* Properties */
    --btnWidth: 80px;  
}

body.dark-theme {
    --bodyTextColor: #CECECE;
    --bgColor: #202020;
    --navLinkTextColor: white;
    --navLinkBgColor: #3D3D3D;
    --healthColor: #B90E0A;
    --damageColor: black;
    --btnColor: #028A0F;
    --btnHovColor: #354A21;
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: var(--bodyTextColor);
    background-color: var(--bgColor);
    font-size: var(--mainFontSize);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--damageColor);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.navbar-link {
    color: var(--navLinkTextColor);
    width: var(--btnWidth);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--navLinkBgColor);
    margin: 5px 0px 5px 2.5vw;
    padding: 5px;
    vertical-align: middle;
}

.navbar-active {
    color: var(--navLinkTextColor);
    background-color: var(--navLinkBgColor);
}

.text-box, .num-box {
    width: 130px;
    color: var(--textColor);
    font-family: inherit;
    font-size: var(--tabFontSize);
    background-color: var(--damageColor);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--btnColor);
}

input[type=number]:focus {
    outline-color: var(--btnColor);
}

input[type=number] {
    -moz-appearance: textfield; /* Removes num arrows */
}

/* Removes num arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bar {
    display: flex;
    width: 95vw;
    height: 100px;
    margin: 0 auto; /* witchcraft to center the div */ 
}

.btn {
    width: var(--btnWidth);
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--btnColor);
    color: white;
    font-size: var(--tabFontSize);
    padding: 10px;
    /* box-shadow: var(--dropShad); */
}

.btn:hover {
    background-color: var(--btnHovColor);
    transition: 0.5s;
}

.health-label {
    color: white;
    text-align: center;
    line-height: 0.5;
    font-weight: 500;
    position: absolute;
    top: 65px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.damage-controls {
    margin-left: 2.5vw;
}

#hp {
    background-color: var(--healthColor);
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

#damage {
    background-color: var(--damageColor);
    width: 0%;
    border-radius: 0px 10px 10px 0px;
}